<?xml version="1.0"?>
<config>
    <modules>
        <Cpcoder_Cms>
            <version>0.0.1</version>
        </Cpcoder_Cms>
    </modules>
    <default>
        <cpcoder_cms>
            <general_config>
                <enabled>1</enabled>
            </general_config>
            <page_config>
                <enabled>1</enabled>
            </page_config>
            <page_config>
                <page_mass_action>1</page_mass_action>
            </page_config>
            <page_config>
                <page_edit_action>1</page_edit_action>
            </page_config>
            <page_config>
                <page_edit_inline>1</page_edit_inline>
            </page_config>
            <block_config>
                <enabled>1</enabled>
            </block_config>
            <block_config>
                <block_mass_action>1</block_mass_action>
            </block_config>
            <block_config>
                <block_edit_action>1</block_edit_action>
            </block_config>
            <block_config>
                <block_edit_inline>1</block_edit_inline>
            </block_config>
        </cpcoder_cms>
    </default>
    <frontend>
        <routers>
            <cpcoder_cms>
                <use>standard</use>
                <args>
                    <module>Cpcoder_Cms</module>
                    <frontName>cpcoder_cms</frontName>
                </args>
            </cpcoder_cms>
        </routers>
        <!-- <layout>
            <updates>
                <cpcoder_cms>
                    <file>cpcoder_cms.xml</file>
                </cpcoder_cms>
            </updates>
        </layout> -->
    </frontend>
    <admin>
        <routers>
			<cpcoder_cms>
				<use>admin</use>
				<args>
					<module>Cpcoder_Cms</module>
					<frontName>cpcoder_cms</frontName>
				</args>
			</cpcoder_cms>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Cpcoder_Cms>
							<title>Cpcoder Cms Module</title>
							<sort_order>10</sort_order>
						</Cpcoder_Cms>
					</children>
				</admin>
			</resources>
		</acl>
		<!-- <layout>
			<updates>
				<cpcoder_cms>
					<file>cpcoder_cms.xml</file>
				</cpcoder_cms>
			</updates>
		</layout> -->
    </adminhtml>   
    <global>
        <models>
            <cpcoder_cms>
                <class>Cpcoder_Cms_Model</class>
                <resourceModel>cpcoder_cms_mysql4</resourceModel>
            </cpcoder_cms>
            <cpcoder_cms_mysql4>
                <class>Cpcoder_Cms_Model_Mysql4</class>
                <entities>
                    <cpcoder_cms>
                        <table>cpcoder_cms</table>
                    </cpcoder_cms>
                </entities>
            </cpcoder_cms_mysql4>
        </models>
        <resources>
            <cpcoder_cms_setup>
                <setup>
                    <module>Cpcoder_Cms</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cpcoder_cms_setup>
            <cpcoder_cms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cpcoder_cms_write>
            <cpcoder_cms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cpcoder_cms_read>
        </resources>
        <blocks>
    		<adminhtml>
                <rewrite>
                    <cms_page_grid>Cpcoder_Cms_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
                </rewrite>
                <rewrite>
                    <cms_block_grid>Cpcoder_Cms_Block_Adminhtml_Cms_Block_Grid</cms_block_grid>
                </rewrite>
            </adminhtml>
            <cpcoder_cms>
                <class>Cpcoder_Cms_Block</class>
            </cpcoder_cms>
        </blocks>
        <helpers>
            <cpcoder_cms>
                <class>Cpcoder_Cms_Helper</class>
            </cpcoder_cms>
        </helpers>
    </global>
</config>