<?xml version="1.0"?>
<config>
    <modules>
        <Rohde_AdvancedCms>
            <version>0.0.1</version>
        </Rohde_AdvancedCms>
    </modules>
    <default>
        <rohde_advancedcms>
            <general_config>
                <enabled>1</enabled>
            </general_config>
            <page_config>
                <enabled>1</enabled>
            </page_config>
            <page_config>
                <page_mass_action>1</page_mass_action>
            </page_config>
            <page_config>
                <page_edit_action>1</page_edit_action>
            </page_config>
            <page_config>
                <page_edit_inline>1</page_edit_inline>
            </page_config>
            <block_config>
                <enabled>1</enabled>
            </block_config>
            <block_config>
                <block_mass_action>1</block_mass_action>
            </block_config>
            <block_config>
                <block_edit_action>1</block_edit_action>
            </block_config>
            <block_config>
                <block_edit_inline>1</block_edit_inline>
            </block_config>
        </rohde_advancedcms>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rohde_advancedcms after="Mage_Adminhtml">Rohde_AdvancedCms_Adminhtml</rohde_advancedcms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <rohde_advancedcms>
                <class>Rohde_AdvancedCms_Model</class>
            </rohde_advancedcms>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <cms_page_grid>Rohde_AdvancedCms_Block_Adminhtml_Cms_Page_Grid</cms_page_grid>
                </rewrite>
                <rewrite>
                    <cms_block_grid>Rohde_AdvancedCms_Block_Adminhtml_Cms_Block_Grid</cms_block_grid>
                </rewrite>
            </adminhtml>
            <rohde_advancedcms>
                <class>Rohde_AdvancedCms_Block</class>
            </rohde_advancedcms>
        </blocks>
        <helpers>
            <rohde_advancedcms>
                <class>Rohde_AdvancedCms_Helper</class>
            </rohde_advancedcms>
        </helpers>
    </global>
</config>
